<html>
    <head>
        <style>
            body { background-color: aquamarine; background: url(budget.avif) no-repeat center center fixed; background-size: cover;

            }
            h1 { color:blue; text-align: center; font-family: Arial, sans-serif; }
        </style>
    </head>
</html>